###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


## fmod stuff

# FMOD Stuff
# ===============
*.fmod_editor.log
*.fmod.log
fmod\.log
fmod_editor\.log
Rhythm4Two/Assets/StreamingAssets/*.bank
Rhythm4Two/Assets/StreamingAssets/*.bank.meta
Rhythm4Two/Assets/Plugins/FMOD/Resources/FMODStudioCache.asset
Rhythm4Two/Assets/Plugins/FMOD/Resources/FMODStudioCache.asset.meta
Rhythm4Two/.vs/
